@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
	--background: #ffffff;
	--primary-color: #fbdc07;
	--secondary-color: #2d1c15;
	--footer-color: #34353c;

	--font-primary-color: #272835;
	--font-secondary-color: #331609;
	--font-blue-color: #338af3;
	--font-hover-color: #2d1c15;

	--font-bounded: "var(--font-bounded)";

	--breakpoint-xs: 22.5rem;
	/* --breakpoint-sm: rem;
  --breakpoint-md: rem; */
	--breakpoint-xl: 90rem;
}

* {
	background: var(--background);
	color: var(--font-primary-color);
	font-family: var(--font-bounded), sans-serif;
}
